dotenv
fastapi
openai
psycopg2
langchain
pinecone
tokenizers
langchain_community
langchain_core
langchain_mistralai
langchain_deepseek
langchain_openai
langchain_pinecone
langchain_experimental
langchain_cohere
hdbscan
scikit-learn
uvicorn
python-multipart